{
  "openapi": "3.0.0",
  "info": {
    "title": "Graphiant APIs",
    "version": "1.0.0",
    "description": "Graphiant API documentation."
  },
  "servers": [
    {
      "url": "https://api.graphiant.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "jwtAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "Use `Bearer <token>`"
      }
    },
    "schemas": {
      "v2ParentalertlistPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/alertserviceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "alertserviceTimeWindow": {
        "type": "object",
        "properties": {
          "bucketSizeSec": {
            "type": "integer",
            "format": "int32",
            "example": 123,
            "minimum": 0
          },
          "oldTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "recentTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          }
        },
        "additionalProperties": false
      },
      "googleProtobufTimestamp": {
        "type": "object",
        "properties": {
          "nanos": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "seconds": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2ParentalertlistPostResponse": {
        "type": "object",
        "properties": {
          "alertList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAlertRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "alertserviceAlertRecord": {
        "type": "object",
        "properties": {
          "acknowledgedList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of users that have acknowledged the alert"
            }
          },
          "acknowledgementReason": {
            "type": "string",
            "example": "example string",
            "description": "Reason put by users when acknowledged"
          },
          "alertBody": {
            "type": "string",
            "example": "example string",
            "description": "Latest event(s) behind the alert (required)"
          },
          "alertId": {
            "type": "string",
            "example": "example string",
            "description": "Unique id of the alert (required)"
          },
          "allowListed": {
            "type": "boolean",
            "example": true,
            "description": "whether entity in alert is put in allowlist/excludelist, disabling alert (required)"
          },
          "childrenAlertList": {
            "$ref": "#/components/schemas/alertserviceChildrenAlertListResponse"
          },
          "descendantPresent": {
            "type": "boolean",
            "example": true,
            "description": "Whether or not descendants are present (required)"
          },
          "deviceId": {
            "type": "string",
            "example": "example string",
            "description": "Internal device id to navigate to troubleshooting"
          },
          "endTime": {
            "type": "integer",
            "format": "int64",
            "example": 12345678910,
            "minimum": 0,
            "description": "When this alert was last seen as a continuation (required)"
          },
          "enterpriseId": {
            "type": "string",
            "example": "example string",
            "description": "Internal enterprise id to navigate to troubleshooting (required)"
          },
          "entity": {
            "type": "string",
            "example": "example string",
            "description": "Entity that triggered the alert. Edge, core, etc. (required)"
          },
          "interfaceName": {
            "type": "string",
            "example": "example string",
            "description": "Device Interface Name"
          },
          "muteListed": {
            "type": "boolean",
            "example": true,
            "description": "whether entity in alert is put in notification mutelist (required)"
          },
          "notificationCreated": {
            "type": "boolean",
            "example": true,
            "description": "whether notification exists for this rule (required)"
          },
          "occurrences": {
            "type": "integer",
            "format": "int64",
            "example": 12345678910,
            "minimum": 0,
            "description": "Number of times alert was raised as a continuation (required)"
          },
          "peerDeviceId": {
            "type": "string",
            "example": "example string",
            "description": "peer device id"
          },
          "peerInterfaceName": {
            "type": "string",
            "example": "example string",
            "description": "Peer Interface Name"
          },
          "peerName": {
            "type": "string",
            "example": "example string",
            "description": "Peer Name"
          },
          "plane": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Plane of the rule generating the alert (required)"
          },
          "reason": {
            "type": "string",
            "example": "example string",
            "description": "Reason why alert was generated (required)"
          },
          "recommendation": {
            "type": "string",
            "example": "example string",
            "description": "Recommendation to recover from alert (required)"
          },
          "ruleId": {
            "type": "string",
            "example": "example string",
            "description": "Unique id of the rule generating the alert (required)"
          },
          "severity": {
            "type": "string",
            "example": "Low",
            "description": "Severity of the rule behind the alert (required)"
          },
          "siteId": {
            "type": "string",
            "example": "example string",
            "description": "Internal site id to navigate to troubleshooting"
          },
          "startTime": {
            "type": "integer",
            "format": "int64",
            "example": 12345678910,
            "minimum": 0,
            "description": "When this alert was first triggered (required)"
          },
          "status": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Status of the alert whether active or inactive (required)"
          },
          "troubleshootingDisabledReason": {
            "type": "string",
            "example": "example string",
            "description": "Reason to not navigate to troubleshooting"
          },
          "troubleshootingEnabled": {
            "type": "boolean",
            "example": true,
            "description": "Navigate or not navigate to troubleshooting dashboard (required)"
          },
          "tunnelInterfaceName": {
            "type": "string",
            "example": "example string",
            "description": "Tunnel Interface Name"
          },
          "type": {
            "type": "string",
            "example": "example string",
            "description": "Type of alert (required)"
          }
        },
        "additionalProperties": false
      },
      "alertserviceChildrenAlertListResponse": {
        "type": "object",
        "properties": {
          "alertList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAlertRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "v2ChildalertlistPostRequest": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "example": "example string",
            "description": "Alert id of the parent alert (required)"
          }
        },
        "additionalProperties": false,
        "required": [
          "alertId"
        ]
      },
      "v2ChildalertlistPostResponse": {
        "type": "object",
        "properties": {
          "alertList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAlertRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "v2NotificationlistPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/alertserviceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2NotificationlistPostResponse": {
        "type": "object",
        "properties": {
          "notificationList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceNotificationRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "alertserviceNotificationRecord": {
        "type": "object",
        "properties": {
          "alertType": {
            "type": "string",
            "example": "example string",
            "description": "Type of the alert underlying the notification (required)"
          },
          "muteCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011,
            "description": "Number of entities notificated muted (required)"
          },
          "name": {
            "type": "string",
            "example": "example string",
            "description": "Name given to the notification record (required)"
          },
          "notificationBody": {
            "$ref": "#/components/schemas/alertserviceNotificationBody"
          },
          "notificationId": {
            "type": "string",
            "example": "example string",
            "description": "Unique id for the notification record (required)"
          },
          "ruleId": {
            "type": "string",
            "example": "example string",
            "description": "The id of the rule on which notification is created (required)"
          },
          "timesTriggered": {
            "type": "integer",
            "format": "int64",
            "example": 12345678910,
            "minimum": 0,
            "description": "Number of times notification was triggered for the same alert (required)"
          }
        },
        "additionalProperties": false
      },
      "alertserviceNotificationBody": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "example": "example string",
            "description": "Description of notification"
          },
          "duration": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Time interval for notification (required)"
          },
          "enabled": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable notification (required)"
          },
          "frequency": {
            "type": "integer",
            "format": "int64",
            "example": 12345678910,
            "minimum": 0,
            "description": "Frequency of notifying a continuing alert (required)"
          },
          "messageBody": {
            "type": "string",
            "example": "example string",
            "description": "Message body to prepend to actual message"
          },
          "notificationName": {
            "type": "string",
            "example": "example string",
            "description": "Name of the notification record (required)"
          },
          "opsgenieList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of opsgenie recipients"
            }
          },
          "opsrampList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of opsramp recipients"
            }
          },
          "pagerdutyList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of pagerduty recipients"
            }
          },
          "recipientList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "Non-empty list of email recipients (required)"
            }
          },
          "teamsList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of teams recipients"
            }
          },
          "webhookUrlList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of webhook_url recipients"
            }
          }
        },
        "additionalProperties": false
      },
      "v2RulelistPostRequest": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2RulelistPostResponse": {
        "type": "object",
        "properties": {
          "ruleList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceRuleRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "alertserviceRuleRecord": {
        "type": "object",
        "properties": {
          "alarmClear": {
            "type": "string",
            "example": "example string",
            "description": "Condition for triggering recovery"
          },
          "alarmSet": {
            "type": "string",
            "example": "example string",
            "description": "Condition for triggering alert (required)"
          },
          "allowCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011,
            "description": "Number of entities  allowed/excluded (required)"
          },
          "category": {
            "type": "string",
            "example": "example string",
            "description": "Category of the rule (required)"
          },
          "enabled": {
            "type": "boolean",
            "example": true,
            "description": "Whether the rule is enabled or disabled (required)"
          },
          "plane": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Plane of the rule (required)"
          },
          "priority": {
            "type": "string",
            "example": 10000000,
            "description": "Priority of taking action against the rule (required)"
          },
          "ruleId": {
            "type": "string",
            "example": "example string",
            "description": "Unique id of the rule (required)"
          },
          "ruleName": {
            "type": "string",
            "example": "example string",
            "description": "Name of the rule (required)"
          }
        },
        "additionalProperties": false
      },
      "v2NotificationCreatePostRequest": {
        "type": "object",
        "properties": {
          "notificationBody": {
            "$ref": "#/components/schemas/alertserviceNotificationBody"
          },
          "ruleIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of rule ids (required)"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationBody",
          "ruleIdList"
        ]
      },
      "v2NotificationCreatePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2NotificationUpdatePostRequest": {
        "type": "object",
        "properties": {
          "notificationBody": {
            "$ref": "#/components/schemas/alertserviceNotificationBody"
          },
          "notificationIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of notification ids to update (required)"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationBody",
          "notificationIdList"
        ]
      },
      "v2NotificationUpdatePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2NotificationEnabledisablePostRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable. True means enable (required)"
          },
          "notificationIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of notification ids to enable disable (required)"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "enable",
          "notificationIdList"
        ]
      },
      "v2NotificationEnabledisablePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2NotificationDeletePostRequest": {
        "type": "object",
        "properties": {
          "notificationIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of notification ids to delete notification records (required)"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationIdList"
        ]
      },
      "v2NotificationDeletePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2IntegrationPostRequest": {
        "type": "object",
        "properties": {
          "integrationBody": {
            "$ref": "#/components/schemas/alertserviceCreateIntegrationBody"
          }
        },
        "additionalProperties": false,
        "required": [
          "integrationBody"
        ]
      },
      "alertserviceCreateIntegrationBody": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "example": "example string",
            "description": "ID of the user who created the integration"
          },
          "createdOn": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "details": {
            "$ref": "#/components/schemas/alertserviceIntegrationDetails"
          },
          "enterprise": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011,
            "description": "ID of the enterprise (required)"
          },
          "integrationType": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Type of integration (required)"
          },
          "isActive": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the integration is active"
          },
          "nickName": {
            "type": "string",
            "example": "example string",
            "description": "Name of the integration (required)"
          }
        },
        "additionalProperties": false,
        "required": [
          "enterprise",
          "integrationType",
          "nickName"
        ]
      },
      "alertserviceIntegrationDetails": {
        "type": "object",
        "properties": {
          "opsgenieKey": {
            "type": "string",
            "example": "example string"
          },
          "opsrampDetails": {
            "type": "string",
            "example": "example string"
          },
          "pagerdutyRoutingKey": {
            "type": "string",
            "example": "example string"
          },
          "webhookUrl": {
            "type": "string",
            "example": "example string"
          },
          "zendeskDetails": {
            "$ref": "#/components/schemas/alertserviceZendeskDetails"
          }
        },
        "additionalProperties": false
      },
      "alertserviceZendeskDetails": {
        "type": "object",
        "properties": {
          "zendeskApiToken": {
            "type": "string",
            "example": "example string",
            "description": "zendesk api token (deprecated, use zendesk_client_secret)"
          },
          "zendeskAssigneeId": {
            "type": "string",
            "example": "example string",
            "description": "zendesk assignee id (required)"
          },
          "zendeskBaseUrl": {
            "type": "string",
            "example": "example string",
            "description": "zendesk base url (required)"
          },
          "zendeskClientId": {
            "type": "string",
            "example": "example string",
            "description": "zendesk oauth client id (required)"
          },
          "zendeskClientSecret": {
            "type": "string",
            "example": "example string",
            "description": "zendesk oauth client secret (required)"
          },
          "zendeskEmail": {
            "type": "string",
            "example": "example string",
            "description": "zendesk email (deprecated, use zendesk_client_id)"
          }
        },
        "additionalProperties": false,
        "required": [
          "zendeskAssigneeId",
          "zendeskBaseUrl",
          "zendeskClientId",
          "zendeskClientSecret"
        ]
      },
      "v2IntegrationPostResponse": {
        "type": "object",
        "properties": {
          "integration": {
            "$ref": "#/components/schemas/alertserviceIntegration"
          }
        },
        "additionalProperties": false
      },
      "alertserviceIntegration": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "example": "example string"
          },
          "createdOn": {
            "type": "string",
            "example": "example string"
          },
          "details": {
            "$ref": "#/components/schemas/alertserviceIntegrationDetails"
          },
          "enterpriseId": {
            "type": "string",
            "example": "example string"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "lastScanned": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011,
            "description": "last scanned time for integrations (zendesk)"
          },
          "nickName": {
            "type": "string",
            "example": "example string"
          },
          "type": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2IntegrationIntegrationIdPutRequest": {
        "type": "object",
        "properties": {
          "integrationBody": {
            "$ref": "#/components/schemas/alertserviceUpdateIntegrationBody"
          }
        },
        "additionalProperties": false,
        "required": [
          "integrationBody"
        ]
      },
      "alertserviceUpdateIntegrationBody": {
        "type": "object",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/alertserviceIntegrationDetails"
          },
          "enterprise": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011,
            "description": "ID of the enterprise (required)"
          },
          "integrationType": {
            "type": "string",
            "example": "ENUM_VALUE",
            "description": "Type of integration (required)"
          },
          "isActive": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the integration is active"
          },
          "nickName": {
            "type": "string",
            "example": "example string",
            "description": "nick name of the integration (required)"
          },
          "updatedBy": {
            "type": "string",
            "example": "example string",
            "description": "ID of the user who updated the integration"
          }
        },
        "additionalProperties": false,
        "required": [
          "enterprise",
          "integrationType",
          "nickName"
        ]
      },
      "v2IntegrationIntegrationIdPutResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2IntegrationIntegrationIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2IntegrationGetallEnterpriseIdGetResponse": {
        "type": "object",
        "properties": {
          "integrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceIntegration"
            }
          }
        },
        "additionalProperties": false
      },
      "v2IntegrationTestEnterpriseIdIntegrationIdGetResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AckCreateupdatePostRequest": {
        "type": "object",
        "properties": {
          "alertIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of ids of alerts to acknowledge (required)"
            }
          },
          "reason": {
            "type": "string",
            "example": "example string",
            "description": "Optional triage message in acknowledgement"
          }
        },
        "additionalProperties": false,
        "required": [
          "alertIdList"
        ]
      },
      "v2AckCreateupdatePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2RuleEnabledisablePostRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable. True means enable (required)"
          },
          "ruleIdList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "List of rule ids to enable/disable (required)"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "enable",
          "ruleIdList"
        ]
      },
      "v2RuleEnabledisablePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AllowlistCreatePostRequest": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "example": "example string",
            "description": "Alert id of the alert to create allowlist/mutelist for (required)"
          },
          "noteText": {
            "type": "string",
            "example": "example string",
            "description": "Optional note"
          }
        },
        "additionalProperties": false,
        "required": [
          "alertId"
        ]
      },
      "v2AllowlistCreatePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2NotificationmutelistCreatePostRequest": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "example": "example string",
            "description": "Alert id of the alert to create allowlist/mutelist for (required)"
          },
          "noteText": {
            "type": "string",
            "example": "example string",
            "description": "Optional note"
          }
        },
        "additionalProperties": false,
        "required": [
          "alertId"
        ]
      },
      "v2NotificationmutelistCreatePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AllowlistRuleIdGetResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAllowAlertNotifcationListRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "alertserviceAllowAlertNotifcationListRecord": {
        "type": "object",
        "properties": {
          "createTime": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "deviceInterface": {
            "type": "string",
            "example": "example string"
          },
          "deviceName": {
            "type": "string",
            "example": "example string"
          },
          "enterpriseName": {
            "type": "string",
            "example": "example string"
          },
          "entityId": {
            "type": "string",
            "example": "example string"
          },
          "isWanCircuit": {
            "type": "boolean",
            "example": true
          },
          "noteText": {
            "type": "string",
            "example": "example string"
          },
          "peerDeviceInterface": {
            "type": "string",
            "example": "example string"
          },
          "peerDeviceName": {
            "type": "string",
            "example": "example string"
          },
          "ruleId": {
            "type": "string",
            "example": "example string"
          },
          "ruleName": {
            "type": "string",
            "example": "example string"
          },
          "siteName": {
            "type": "string",
            "example": "example string"
          },
          "vrfId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AllowlistByEnterpriseGetResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAllowAlertNotifcationListRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "v2NotificationmutelistRuleIdGetResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/alertserviceAllowAlertNotifcationListRecord"
            }
          }
        },
        "additionalProperties": false
      },
      "v2NotificationmutelistDeletebyalertidAlertIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AllowlistDeletebyalertidAlertIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2NotificationmutelistDeletebyentityidEntityIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AllowlistDeletebyentityidEntityIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AggregatedNotificationEnableDisablePostRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable aggregated notifications. True means enabled (required)"
          }
        },
        "additionalProperties": false,
        "required": [
          "enable"
        ]
      },
      "v2AggregatedNotificationEnableDisablePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AggregatedNotificationGetStateGetResponse": {
        "type": "object",
        "properties": {
          "state": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssistantVersionPostRequest": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssistantVersionPostResponse": {
        "type": "object",
        "properties": {
          "versionId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantAddToConversationPostRequest": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "question": {
            "$ref": "#/components/schemas/assistantAssistantQuestion"
          }
        },
        "additionalProperties": false
      },
      "assistantAssistantQuestion": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "questionLanguage": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "questionText": {
            "type": "string",
            "example": "example string"
          },
          "questionTimestamp": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2AssistantAddToConversationPostResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "dataframeDictionary": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assistantDataframeDictionary"
            }
          },
          "originalQuestion": {
            "$ref": "#/components/schemas/assistantAssistantQuestion"
          },
          "responseId": {
            "type": "string",
            "example": "example string"
          },
          "responseLanguage": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "responseText": {
            "type": "string",
            "example": "example string"
          },
          "responseTimestamp": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "responseType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "visualizationSummary": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assistantDataframeDictionary": {
        "type": "object",
        "properties": {
          "dataframeDictionaryMap": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "example": "example string"
            }
          },
          "xAxis": {
            "type": "string",
            "example": "example string"
          },
          "yAxis": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantGetConversationsPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/assistantTimeWindow"
          },
          "userId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assistantTimeWindow": {
        "type": "object",
        "properties": {
          "bucketSizeSec": {
            "type": "integer",
            "format": "int32",
            "example": 123,
            "minimum": 0
          },
          "oldTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "recentTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantGetConversationsPostResponse": {
        "type": "object",
        "properties": {
          "conversationList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assistantAssistantConversation"
            }
          },
          "enableContextHistory": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "assistantAssistantConversation": {
        "type": "object",
        "properties": {
          "conversationHeader": {
            "type": "string",
            "example": "example string"
          },
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "conversationRecentTimestamp": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "enableContextHistory": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssistantUpdateConversationNamePostRequest": {
        "type": "object",
        "properties": {
          "conversationHeader": {
            "type": "string",
            "example": "example string"
          },
          "conversationId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantUpdateConversationNamePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssistantGetConversationDetailsPostRequest": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assistantTimeWindow"
          },
          "userId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantGetConversationDetailsPostResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "responseList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assistantAssistantResponse"
            }
          },
          "userId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assistantAssistantResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "example": "example string"
          },
          "dataframeDictionary": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assistantDataframeDictionary"
            }
          },
          "originalQuestion": {
            "$ref": "#/components/schemas/assistantAssistantQuestion"
          },
          "responseId": {
            "type": "string",
            "example": "example string"
          },
          "responseLanguage": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "responseText": {
            "type": "string",
            "example": "example string"
          },
          "responseTimestamp": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "responseType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "visualizationSummary": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssistantDeleteConversationChatConversationIdDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssistantConversationContextHistoryPostRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssistantConversationContextHistoryPostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssistantConversationInterfaceEnableDisablePostRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssistantConversationInterfaceEnableDisablePostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssistantConversationInterfaceStateGetResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceEnterprisesummaryPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "assuranceTimeWindow": {
        "type": "object",
        "properties": {
          "bucketSizeSec": {
            "type": "integer",
            "format": "int32",
            "example": 123,
            "minimum": 0
          },
          "oldTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "recentTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceEnterprisesummaryPostResponse": {
        "type": "object",
        "properties": {
          "enterpriseSummary": {
            "$ref": "#/components/schemas/assuranceEnterpriseSummary"
          }
        },
        "additionalProperties": false
      },
      "assuranceEnterpriseSummary": {
        "type": "object",
        "properties": {
          "flowsAnalyzed": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "gapScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "prevGapScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "riskBin": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "threatCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "uniqueAppsCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceScoredetailsPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceScoredetailsPostResponse": {
        "type": "object",
        "properties": {
          "scoreDetails": {
            "$ref": "#/components/schemas/assuranceScoreDetails"
          }
        },
        "additionalProperties": false
      },
      "assuranceScoreDetails": {
        "type": "object",
        "properties": {
          "scoreBucketList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceScoreBucketCount"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceScoreBucketCount": {
        "type": "object",
        "properties": {
          "currScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "maxScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "scoreBucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceApplicationprofilesummaryPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceApplicationprofilesummaryPostResponse": {
        "type": "object",
        "properties": {
          "applicationProfileSummary": {
            "$ref": "#/components/schemas/assuranceApplicationProfileSummary"
          }
        },
        "additionalProperties": false
      },
      "assuranceApplicationProfileSummary": {
        "type": "object",
        "properties": {
          "bucketSummaryList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceBucketSummary"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketSummary": {
        "type": "object",
        "properties": {
          "assuranceBucket": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "bucketColor": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "bucketNameToDisplay": {
            "type": "string",
            "example": "example string"
          },
          "bucketStats": {
            "$ref": "#/components/schemas/assuranceBucketStats"
          },
          "childBucketList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ENUM_VALUE"
            }
          },
          "childBucketStatsList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceBucketStatsWithId"
            }
          },
          "isRoot": {
            "type": "boolean",
            "example": true
          },
          "isTerminal": {
            "type": "boolean",
            "example": true
          },
          "parentBucketList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ENUM_VALUE"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketStats": {
        "type": "object",
        "properties": {
          "prevUniqueAppCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "prevUniqueThreatCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "uniqueAppCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "uniqueThreatCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketStatsWithId": {
        "type": "object",
        "properties": {
          "assuranceBucket": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "bucketNameToDisplay": {
            "type": "string",
            "example": "example string"
          },
          "prevUniqueAppCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "uniqueAppCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceUnclassifiedapplicationprofilesummaryPostRequest": {
        "type": "object",
        "properties": {
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceUnclassifiedapplicationprofilesummaryPostResponse": {
        "type": "object",
        "properties": {
          "applicationProfileSummary": {
            "$ref": "#/components/schemas/assuranceApplicationProfileSummary"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketdetailsPostRequest": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          },
          "unclassifiedOnly": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketdetailsPostResponse": {
        "type": "object",
        "properties": {
          "bucketDetails": {
            "$ref": "#/components/schemas/assuranceBucketDetails"
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketDetails": {
        "type": "object",
        "properties": {
          "appCountThreatHigh": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appCountThreatLow": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appCountThreatMedium": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appIdRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceAppIdRecord"
            }
          },
          "appNameRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceAppNameRecord"
            }
          },
          "bucketNameToDisplay": {
            "type": "string",
            "example": "example string"
          },
          "description": {
            "type": "string",
            "example": "example string"
          },
          "displayIpPort": {
            "type": "boolean",
            "example": true
          },
          "flowCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "newIpHint": {
            "type": "boolean",
            "example": true
          },
          "recommendation": {
            "type": "string",
            "example": "example string"
          },
          "trendValueList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceTrendValue"
            }
          },
          "uniqueAppCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "assuranceAppIdRecord": {
        "type": "object",
        "properties": {
          "affectedHosts": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedRegions": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedSites": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedVrfs": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appIdKey": {
            "type": "string",
            "example": "example string"
          },
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "blockedPolicyList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "blockedReasonList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "category": {
            "type": "string",
            "example": "example string"
          },
          "classficationField": {
            "type": "string",
            "example": "example string"
          },
          "classificationField": {
            "type": "string",
            "example": "example string"
          },
          "clients": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "exchangeService": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceExchangeServiceIdentifier"
            }
          },
          "firstSeen": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flexAlgo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceFlexAlgoIdentifier"
            }
          },
          "flowsAnalyzed": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "lastSeen": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "newIpHint": {
            "type": "boolean",
            "example": true
          },
          "recommendation": {
            "type": "string",
            "example": "example string"
          },
          "regionList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "riskStatus": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "serverIp": {
            "type": "string",
            "example": "example string"
          },
          "serverPort": {
            "type": "string",
            "example": "example string"
          },
          "siteList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "threatScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "vrfList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceExchangeServiceIdentifier": {
        "type": "object",
        "properties": {
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "exchangeServiceName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceFlexAlgoIdentifier": {
        "type": "object",
        "properties": {
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flexAlgoName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceAppNameRecord": {
        "type": "object",
        "properties": {
          "affectedHosts": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedRegions": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedSites": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "affectedVrfs": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appAiTag": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "appId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "appIdRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceAppIdRecord"
            }
          },
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "category": {
            "type": "string",
            "example": "example string"
          },
          "daClassified": {
            "type": "boolean",
            "example": true
          },
          "exchangeService": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceExchangeServiceIdentifier"
            }
          },
          "flexAlgo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceFlexAlgoIdentifier"
            }
          },
          "flowsAnalyzed": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "recommendation": {
            "type": "string",
            "example": "example string"
          },
          "riskStatus": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "threatScore": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "assuranceTrendValue": {
        "type": "object",
        "properties": {
          "endTime": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flowCount": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "startTime": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceApplicationdetailsbynamePostRequest": {
        "type": "object",
        "properties": {
          "appIdKey": {
            "type": "string",
            "example": "example string"
          },
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceApplicationdetailsbynamePostResponse": {
        "type": "object",
        "properties": {
          "appIdRecord": {
            "$ref": "#/components/schemas/assuranceAppIdRecord"
          },
          "appNameRecord": {
            "$ref": "#/components/schemas/assuranceAppNameRecord"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceCreateclassifiedapplicationPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "ipPrefixList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "portList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "protocolList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceCreateclassifiedapplicationPostResponse": {
        "type": "object",
        "properties": {
          "classificationEntryId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceGetclassifiedapplicationlistGetResponse": {
        "type": "object",
        "properties": {
          "classifiedApplicationList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClassifiedApplication"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceClassifiedApplication": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "classificationEntryId": {
            "type": "string",
            "example": "example string"
          },
          "ipPrefixList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "portList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "protocolList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceUpdateclassifiedapplicationPostRequest": {
        "type": "object",
        "properties": {
          "classifiedApplicationList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClassifiedApplication"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceUpdateclassifiedapplicationPostResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssuranceDeleteclassifiedapplicationDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssuranceCreateUserReportPostRequest": {
        "type": "object",
        "properties": {
          "createdOn": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "emailList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "pdfContent": {
            "type": "string",
            "format": "byte",
            "example": "Ynl0ZXM="
          },
          "rawContent": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte",
              "example": "Ynl0ZXM="
            }
          },
          "reportName": {
            "type": "string",
            "example": "example string"
          },
          "reportType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "timePeriod": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceCreateUserReportPostResponse": {
        "type": "object",
        "properties": {
          "reportId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceDeleteUserReportDeleteResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "v2AssuranceReadUserReportListGetResponse": {
        "type": "object",
        "properties": {
          "userReportList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceUserReport"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceUserReport": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "createdOn": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "emailList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "enterpriseId": {
            "type": "string",
            "example": "example string"
          },
          "reportId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "reportName": {
            "type": "string",
            "example": "example string"
          },
          "reportType": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "timePeriod": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceDownloadUserReportGetResponse": {
        "type": "object",
        "properties": {
          "pdfContent": {
            "type": "string",
            "format": "byte",
            "example": "Ynl0ZXM="
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketTopologiesPostRequest": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketTopologiesPostResponse": {
        "type": "object",
        "properties": {
          "topologies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceFlexAlgoIdentifier"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketServicesPostRequest": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketServicesPostResponse": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceExchangeServiceIdentifier"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketAppsPostRequest": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          },
          "unclassifiedOnly": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketAppsPostResponse": {
        "type": "object",
        "properties": {
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceBucketApp"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketApp": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "builtinAppId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "customAppId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "exchangeService": {
            "$ref": "#/components/schemas/assuranceExchangeServiceIdentifier"
          },
          "flexAlgo": {
            "$ref": "#/components/schemas/assuranceFlexAlgoIdentifier"
          },
          "isDomain": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketAppServersPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceBucketAppServersPostResponse": {
        "type": "object",
        "properties": {
          "appServers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceBucketAppServer"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceBucketAppServer": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "serverIp": {
            "type": "string",
            "example": "example string"
          },
          "serverPort": {
            "type": "string",
            "example": "example string"
          },
          "serverProtocol": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyInventoryPostRequest": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          },
          "topologyType": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyInventoryPostResponse": {
        "type": "object",
        "properties": {
          "appNames": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "clientSites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceSite"
            }
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceRegion"
            }
          },
          "serverSites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceSite"
            }
          },
          "topologyChangeTs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/googleProtobufTimestamp"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceSite": {
        "type": "object",
        "properties": {
          "regionId": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "siteEnterpriseName": {
            "type": "string",
            "example": "example string"
          },
          "siteId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "siteName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceRegion": {
        "type": "object",
        "properties": {
          "regionId": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "regionIsoCode": {
            "type": "string",
            "example": "example string"
          },
          "regionName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyOverviewPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "filter": {
            "$ref": "#/components/schemas/v2AssuranceTopologyOverviewPostRequestTopologyFilter"
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "sliderTimeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          },
          "topologyTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "topologyType": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyOverviewPostRequestTopologyFilter": {
        "type": "object",
        "properties": {
          "clientSiteIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 1234567891011
            }
          },
          "regionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          },
          "serverSiteIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 1234567891011
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyOverviewPostResponse": {
        "type": "object",
        "properties": {
          "numApplications": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "numFlows": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "topology": {
            "$ref": "#/components/schemas/assuranceTopology"
          },
          "topologyChangeTs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/googleProtobufTimestamp"
            }
          },
          "trafficRegions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/v2AssuranceTopologyOverviewPostResponseGeoregion"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceTopology": {
        "type": "object",
        "properties": {
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceTopologyEdge"
            }
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceTopologyNode"
            }
          },
          "paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceTopologyPath"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceTopologyEdge": {
        "type": "object",
        "properties": {
          "destinationNodeId": {
            "type": "string",
            "example": "example string"
          },
          "performance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceTopologyEdgeLinkPerformance"
            }
          },
          "sourceNodeId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceTopologyEdgeLinkPerformance": {
        "type": "object",
        "properties": {
          "jitter": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "latency": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "loss": {
            "type": "number",
            "format": "float",
            "example": 12.34
          }
        },
        "additionalProperties": false
      },
      "assuranceTopologyNode": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "example": true
          },
          "location": {
            "$ref": "#/components/schemas/assuranceGeolocation"
          },
          "name": {
            "type": "string",
            "example": "example string"
          },
          "nodeId": {
            "type": "string",
            "example": "example string"
          },
          "nodeType": {
            "type": "string",
            "example": "ENUM_VALUE"
          }
        },
        "additionalProperties": false
      },
      "assuranceGeolocation": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "long": {
            "type": "number",
            "format": "float",
            "example": 12.34
          }
        },
        "additionalProperties": false
      },
      "assuranceTopologyPath": {
        "type": "object",
        "properties": {
          "nodeIds": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyOverviewPostResponseGeoregion": {
        "type": "object",
        "properties": {
          "numSites": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "region": {
            "$ref": "#/components/schemas/assuranceRegion"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologySiteSummariesPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "filter": {
            "$ref": "#/components/schemas/assuranceTopologyFilter"
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "assuranceTopologyFilter": {
        "type": "object",
        "properties": {
          "clientSiteIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 1234567891011
            }
          },
          "regionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          },
          "serverSiteIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 1234567891011
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologySiteSummariesPostResponse": {
        "type": "object",
        "properties": {
          "summaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/v2AssuranceTopologySiteSummariesPostResponseSummary"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologySiteSummariesPostResponseSummary": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "lanSegments": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "sessionCount": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "site": {
            "$ref": "#/components/schemas/assuranceSite"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSummariesPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "filter": {
            "$ref": "#/components/schemas/assuranceTopologyFilter"
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "siteId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSummariesPostResponse": {
        "type": "object",
        "properties": {
          "summaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/v2AssuranceTopologyClientSummariesPostResponseSummary"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSummariesPostResponseSummary": {
        "type": "object",
        "properties": {
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "clientIp": {
            "type": "string",
            "example": "example string"
          },
          "clientUsername": {
            "type": "string",
            "example": "example string"
          },
          "lanSegments": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "serverIp": {
            "type": "string",
            "example": "example string"
          },
          "serverPort": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "serverSiteEnterpriseName": {
            "type": "string",
            "example": "example string"
          },
          "serverSiteName": {
            "type": "string",
            "example": "example string"
          },
          "sessionCount": {
            "type": "integer",
            "format": "int32",
            "example": 123
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSessionsPostRequest": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "appServerKey": {
            "type": "string",
            "example": "example string"
          },
          "bucketId": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "clientIp": {
            "type": "string",
            "example": "example string"
          },
          "exchangeServiceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "filter": {
            "$ref": "#/components/schemas/assuranceTopologyFilter"
          },
          "flexAlgoId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "siteId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "timeWindow": {
            "$ref": "#/components/schemas/assuranceTimeWindow"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSessionsPostResponse": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSession"
            }
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSession": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "example": "example string"
          },
          "bucket": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "clientEndpoint": {
            "$ref": "#/components/schemas/assuranceClientSessionEndpointDetails"
          },
          "clientFlexAlgo": {
            "type": "string",
            "example": "example string"
          },
          "clientIp": {
            "type": "string",
            "example": "example string"
          },
          "clientLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSessionEndpointLink"
            }
          },
          "clientUsername": {
            "type": "string",
            "example": "example string"
          },
          "exchangeServiceName": {
            "type": "string",
            "example": "example string"
          },
          "firstSeenTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "lanSegment": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "lastSeenTs": {
            "$ref": "#/components/schemas/googleProtobufTimestamp"
          },
          "localDiaLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSessionDiaLink"
            }
          },
          "popLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSessionPopLink"
            }
          },
          "remoteDiaLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSessionDiaLink"
            }
          },
          "riskStatus": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "serverEndpoint": {
            "$ref": "#/components/schemas/assuranceClientSessionEndpointDetails"
          },
          "serverFlexAlgos": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "serverIp": {
            "type": "string",
            "example": "example string"
          },
          "serverLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceClientSessionEndpointLink"
            }
          },
          "serverPort": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "sessionId": {
            "type": "string",
            "example": "example string"
          },
          "sla": {
            "type": "string",
            "example": "ENUM_VALUE"
          },
          "slaClass": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSessionEndpointDetails": {
        "type": "object",
        "properties": {
          "circuits": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assuranceEdge"
            }
          },
          "isGateway": {
            "type": "boolean",
            "example": true
          },
          "jitter": {
            "$ref": "#/components/schemas/assuranceClientSessionEndpointDetailsStatistics"
          },
          "latency": {
            "$ref": "#/components/schemas/assuranceClientSessionEndpointDetailsStatistics"
          },
          "loss": {
            "$ref": "#/components/schemas/assuranceClientSessionEndpointDetailsStatistics"
          },
          "site": {
            "$ref": "#/components/schemas/assuranceSite"
          },
          "totalDownlinkUsage": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "totalUplinkUsage": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          }
        },
        "additionalProperties": false
      },
      "assuranceEdge": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "deviceName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSessionEndpointDetailsStatistics": {
        "type": "object",
        "properties": {
          "avg": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "max": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "min": {
            "type": "number",
            "format": "float",
            "example": 12.34
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSessionEndpointLink": {
        "type": "object",
        "properties": {
          "circuitName": {
            "type": "string",
            "example": "example string"
          },
          "jitter": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "latency": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "loss": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "popName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSessionDiaLink": {
        "type": "object",
        "properties": {
          "circuitName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "assuranceClientSessionPopLink": {
        "type": "object",
        "properties": {
          "firstPopName": {
            "type": "string",
            "example": "example string"
          },
          "jitter": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "latency": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "loss": {
            "type": "number",
            "format": "float",
            "example": 12.34
          },
          "secondPopName": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSessionDetailsPostRequest": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "example": "example string"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyClientSessionDetailsPostResponse": {
        "type": "object",
        "properties": {
          "session": {
            "$ref": "#/components/schemas/assuranceClientSession"
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyRegionSummaryPostRequest": {
        "type": "object",
        "properties": {
          "regionId": {
            "type": "integer",
            "format": "int32",
            "example": 123
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyRegionSummaryPostResponse": {
        "type": "object",
        "properties": {
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/v2AssuranceTopologyRegionSummaryPostResponseSiteEntry"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceTopologyRegionSummaryPostResponseSiteEntry": {
        "type": "object",
        "properties": {
          "edgeCount": {
            "type": "integer",
            "format": "int32",
            "example": 123
          },
          "lanSegments": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "popNames": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          },
          "regionName": {
            "type": "string",
            "example": "example string"
          },
          "siteId": {
            "type": "integer",
            "format": "int64",
            "example": 1234567891011
          },
          "siteName": {
            "type": "string",
            "example": "example string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string"
            }
          }
        },
        "additionalProperties": false
      },
      "v2AssuranceCreateDnsproxyEntryPostRequest": {
        "type": "object",
        "properties": {
          "dnsproxyEntry": {
            "$ref": "#/components/schemas/assuranceDnsProxyEntry"
          }
        },
        "additionalProperties": false
      },
      "assuranceDnsProxyEntry": {
        "type": "object",
        "properties": {
          "dnsproxyEntryId": {
            "type": "string",
            "example": "example string",
            "description": "dns proxy table entry id (required)"
          },
          "ipList": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "example string",
              "description": "IP list to exclude (required)"
            }
          },
          "name": {
            "type": "string",
            "example": "DNSPROXY_EXCEPTION_DNS",
            "description": "name of the entry  (required)"
          },
[...]
